$font-color: black;
$action-color: #33ccff;
$bg-color: white;
$border-color: lightgray;

.links-flex {
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    background: $action-color;
}

.my-link-box {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.my-link {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 .25;
    background-color: $bg-color;
    border: 1px solid $action-color;
    color: $action-color;
    text-decoration: none;
    font-size: 17px;
}



.container--col {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-all--col {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.title--medium {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 22px;
}

#buy-rent-sell {
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;

}

.big-box {

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 .25;
    background-color: $bg-color;
    border: 1px solid $action-color;
    color: $action-color;
    text-decoration: none;
    font-size: 33px;
    flex-grow: 1;
    margin: 20px;
    width: 30vw;
    max-width: 400px;
}
.big-box-inner {

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 .25;
    background-color: $bg-color;
    border: 1px solid $action-color;
    color: $action-color;
    text-decoration: none;
    font-size: 33px;
    flex-grow: 1;
    
}

.big-box-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold-blk-txt {
    color: black;
    font-size: 33px;
    font-weight: bolder;
    margin: 10px;
}
.para-txt {
    font-size: 16px;
    color: black;
    line-height: 24px;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-wrap {
    margin: 10px;
}

.box--bottom-btn {
    padding: 20px;
    
    color: $action-color;
    border: 2px solid $action-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 50px;

}