
.l-wrap {
    display: flex;
    flex-direction: column;
    

}

.listing-box {
    height: 150px;
    width: 222px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    
}

.listing-box--bottom-bar{

    height: 44px;
    width: 222px;
    display: flex;
    flex-direction: row;
    background: white;

}

.price-text {
    font-size: 22px;
    color: black;
}

#listing-box {

    
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;

    
}

#listing-box--bottom-bar {
    display: flex;
    flex-direction: row;
    background: white;
    flex: 1;
}

#price-text {
    font-size: 22px;
    color: black;

}


#homes-list-wrapper {
    background-color: lightsalmon;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-grow: 4;
}

#listings {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    width: 100vw;
    height: 100vh;
    color:lightcoral;
}

#listings-top {
    background-color: lightskyblue;
    display: flex;
    height: 222px;
    color:lightskyblue
}

#listings-nav {
    background-color: wheat;
    display: flex;
    height: 111px;
    color:wheat
}


#listings-map-homes {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: start;
}
#map-wrap {
    width: 555px;
    display: flex;
    flex-direction: row;
    flex-grow: 6;
}

#map {
    min-width: 500px;
    height: 100vh;
    justify-content: center;
    flex-grow: 5;
}

#homes-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: lightseagreen;
    justify-content: center;
    align-content: start;
    max-width: 600px;
    min-width: 224px;
    gap: 0.6rem;
    flex-grow: revert;
    overflow: scroll;
}

// #homes-wrap {
// display: flex;
//     display: flex;
//     flex-wrap: wrap;
//     background-color: lightsalmon;
//     justify-content: center;
//     align-content: start;
//     max-width: 600px;
//     min-width: 224px;
//     gap: 0.6rem;
//     flex-grow: revert;
//     overflow: scroll;
// }

.listing-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 22;
}

.listing-modal {
    display: flex;
    
    flex-direction: column;

    background: white;
    gap: 1rem;
    

}

#modal-on-off {
    display: false;
}

#modal-on-off.show {
    display: flex;
}


