


#listing-box {
    height: 150px;
    min-width: 200px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    
}

#homes-list-wrapper {
    background-color: lightsalmon;
    width: 100%;
    max-width: 444px;
    display: flex;
    flex-direction: row;

}

#listings {
    display: flex;
    flex-direction: column;
    background-color: salmon;
    width: 100vw;
    height: 100vh;
}

#listings-top {
    background-color: lightskyblue;
    display: flex;
    height: 222px;
}

#listings-nav {
    background-color: wheat;
    display: flex;
    height: 111px;
}


#listings-map-homes {
    height: 100%;
    width: 100%;
    display: flex; 
}
#map {
    background-color: lightseagreen;
    display: flex;
    flex-grow: 6;
}
#homes-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: lightsalmon;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
