#container-l {
    height: 100vh;


}

body {
    margin: 0px;
}

#listings-nav {
    background-color: white;
    display: flex;
    height: 50px;
    color: blue;
    align-items: center;
    padding-left: 22px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#fix-nav {
    display: flex;
    
}



.map-search {
    width: 222px;
    height: 25px;
    resize: none;
    color: gray;
    
}
.map-button {
    width: 100px;
    height: 25px;
    color: blue;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
}

.save-search-button {
    width: 100px;
    height: 25px;
    color: white;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    background: blue;
    cursor: pointer;
}

.l-wrap {
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 2px solid lightskyblue;
    cursor: pointer;
}

.saved-heart, 
.not-saved-heart {
    display: flex;
    justify-content: flex-end;
}

.pos-heart-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

// .h-img {
//     position: absolute;
//     z-index: 3333;
// }

.listing-box {
    height: 150px;
    width: 270px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 270px 150px;
}

.listing-box--bottom-bar{

    height: 70px;
    width: 270px;
    display: flex;
    flex-direction: column;
    background: white;

}

.price-text {
    font-size: 20px;
    color: black;
}

.small-txt {
    font-size: 15px;
    color: grey;
}

#listing-box {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}



#homes-list-wrapper {
    background-color: white;
    max-width: 600px;
    height: 100vh;
    display: flex;
    border-left: 2en solid lightgray;
    flex-direction: row;
    flex-grow: 4;
    justify-content: center;
}

#listings {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: black;
}

#listings-top {
    background-color: white;
    display: flex;
    height: 88px;
    color:white;
}



#listings-map-homes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
}
#map-wrap {
    width: 555px;
    display: flex;
    flex-direction: row;
    flex-grow: 6;
}

#homes-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-content: start;
    max-width: 600px;
    min-width: 224px;
    gap: 0.6rem;
    flex-grow: revert;
    overflow: scroll;
}



.listing-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 22;
}

.listing-modal {
    display: flex;
    
    flex-direction: column;

    background: white;
    gap: 1rem;
    

}

#modal-on-off {
    display: false;
}

#modal-on-off.show {
    display: flex;
}



