$font-color: blue;
$search-img-height: 480px;
$search-img-width: 1611px;
$font-size: 18px;
$margin: 10px;

@mixin flex-row-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin li-nav-button {
    color: $font-color;
    font-size: $font-size;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}


.spacer {
    height: 22px;
    background-color: white;
    color: white;
}

#buy {
    @include li-nav-button;
}

#popup {
    display: none;
}

#popup.visible {
    display: flex;
    cursor: pointer;
}

#rent-pop {
    display: none;
}

#rent-pop.visible {
    display: flex;
    cursor: pointer;
}

#rent-hover:hover ~ #rent-pop {
    display: flex;
}

#buy-hover:hover ~ #popup {
    display: flex;
}

#toggleLoginPage {
    color: $font-color;
    font-size: $font-size;
    background-color: white;
    border: none;
    cursor: pointer;
}

#toggleProfileDropdown {
    color: $font-color;
    font-size: $font-size;
    background-color: white;
    border: none;
    cursor: pointer;
}

#profile-button {
    display: none;

}


#profile-button.visible {
    display: flex;
    color: $font-color;
    font-size: $font-size;
    background-color: white;
    border: none;
    cursor: pointer;
}





a {
    color: black;
}
.nav-bar {
    z-index: 2;
    width: 100vw;
    height: 88px;
    
    background-color: white;
    display: flex;
    flex-direction: column;

    .nav-list {
        height: 88px;
        width: 100%;
        z-index: 1;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: .4px solid lightgrey;
        .right-buttons {
            height: 88px;
            .right-buttons-list {
                height: 88px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include flex-row-center;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include li-nav-button;
                    height: 88px;
                }
            }
        }
        .left-buttons {
            height: 88px;

            .left-buttons-list {
                height: 88px;
                display: flex;
                justify-content: space-between;
                @include flex-row-center;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include li-nav-button;

                    height: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}

#hov {
    cursor: pointer;
}

.profile-link {
    margin-left: $margin;
}

.create-login-box {
    display: flex;
    align-items: center;
}


.search-banner {

    width: 100%;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    .search-picture {
        width: $search-img-width;
        background-image: url("alpine.png");
        background-repeat: no-repeat;
        height: $search-img-height;
        display: flex;
        justify-content: center;
        align-items: center;
        .search-bar {
            z-index: 1;
        }
    }
}