$font-color: black;
$action-color: #005cff;
$bg-color: white;
$border-color: lightgray;
$form-bg-color: #f6f6fa;

.price-dropdown-container {
  display: flex;
  flex-direction: column;
  z-index: 5555;
  margin-left: 22px;
  position: absolute;
}

.pd-input-wrapper {
  display: flex;
  flex-direction: row;
}

.price-desc {
  font-size: 16px;
  margin-top: 20px;
  padding-left: 20px;
}

.pd-input {
  width: 100px;
  height: 30px;
}

.price-btn {
  height: 25px;
  color: #005cff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub-price-flex {
  display: flex;
  justify-content: flex-end;
  background: $action-color;
  height: 60px;
  align-items: center;
}

.sub-price-btn {
  border: 1px solid lightgray;
  width: 68px;
  height: 44px;
  cursor: pointer;
  color: $action-color;
  background: $bg-color;
  margin-right: 18px;
  font-weight: bold;
}

.home-price-input {
  background: $form-bg-color;
  padding: 7px;
  font-size: 15px;
  width: 125px;
}

::placeholder {
  color: slategray;
}
.price-txt-mid {
  color: $font-color;
  font-size: 24px;
  display: flex;
  padding: 5px;
  font-weight: bold;
}

.fa-magnifying-glass-dollar {
  font-size: 33px;
  color: white
}

.places-search-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.places-search-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.fa-magnifying-glass {
  color: gray;
  font-size: 23px;
}

.container-rectangle--col {
  padding-top: 80px;
  padding-bottom: 20px;
}
.new-flex-row {
  display: flex;
}

.min-flex {
  display: flex;
  flex-direction: column;
}

.preset-price--btn {
  color: gray;
  display: flex;
  width: 143px;
  margin: 10px 0px;
  cursor: pointer;
}

.preset-price--btn:hover {
  color: $action-color;
}

.min-prices-wrap,
.max-prices-wrap {
  display: flex;
  flex-direction: column;
}

.max-prices-wrap {
  display: flex;
  flex-direction: column;
}

.price-form-outer {
  background: $bg-color;
  display: flex;
  flex-direction: column;
}
.price-form-inner {
  background: $bg-color;
  display: flex;
  padding: 20px;
}
