$font-color: black;
$action-color: #005cff;
$bg-color: white;
$border-color: lightgray;

#profile-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.profile-navbar-buttons {
  display: flex;
  justify-content: flex-start;
  width: 70vw;
}

.profile-navbar-button {
  color: $font-color;
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-navbar-button:hover {
  color: $action-color;
  border-bottom: 2px solid $action-color;
}

