$font-color: black;
$action-color: #005cff;
$bg-color: white;
$border-color: lightgray;

#profile-toggle-button {
  background-color: $bg-color;
  color: $action-color;
  position: absolute;
  height: 44px;
}

.profile-dropdown {
    background-color: $bg-color;
    color: $font-color;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 88px;
    align-items: flex-start;
}

#profile-toggle-button:hover + .profile-dropdown {
  display: flex;

  
}

.profile-dropdown:hover {
  display: flex;
  li:hover {
    background: $border-color;
    display: flex;
  }
}

