$icon-color: #33ccff;
$icon-font-size: 33px;
$icon-padding: 5px;
$font-color: black;
$action-color: #33ccff;
$bg-color: white;
$border-color: lightgray;

#saved--page-wrapper {
  display: flex;
  flex-direction: column;
}

#saved--homes-list-wrapper {
    background-color: $bg-color;
    max-width: 600px;
    display: flex;
    flex-direction: row;
}

#saved--homes-wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 407px;
    width: 80vw;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: space-between;
}

.saved--title {
  font-size: 39px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.saved--all-content-wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #f1f1f1;
}

.saved--all-content {
  display: flex;
  flex-direction: column;
}
.save--l-wrap {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 4px solid $icon-color;
    cursor: pointer;
    margin-top: 20px;
}

.save--listing-box {
  height: 250px;
  width: 372px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 372px 250px;
}

.save--listing-box--bottom-bar{
    height: 70px;
    width: 352px;
    display: flex;
    flex-direction: column;
    background: $bg-color;
    padding: 10px;
}



.save--price-text {
    font-size: 20px;
    color: $font-color;
}

.save--small-txt {
    font-size: 15px;
    color: grey;
    padding-top: 5px;
}

.save--back-box {
  display: flex;
  flex-direction: column;
  width: 406px;
  align-items: center;
  background: $bg-color;
  cursor: pointer;
  margin-bottom: 20px;
}

.fa-house {
  font-size: $icon-font-size;
  color: $icon-color;
  padding-right: $icon-padding;
}
.fa-calendar-days {
  font-size: $icon-font-size;
  color: $icon-color;
  padding-right: $icon-padding;
}

.fa-temperature-full {
  font-size: $icon-font-size;
  color: $icon-color;
  padding-right: $icon-padding;
}
.fa-temperature-empty {
  font-size: $icon-font-size;
  color: $icon-color;
  padding-right: $icon-padding
}
.fa-square-parking {
  font-size: $icon-font-size;
  color: $icon-color;
  padding-right: $icon-padding;
}

.fa-ruler-combined {
  font-size: $icon-font-size;
  color: $icon-color;
  padding-right: $icon-padding;
}

.info-title {
  font-weight: bold;
}
.info-icon {
  display: flex;
  flex-direction: row;
  height: 85px;
  width: 123px;

}
.info-flex {
  display: flex;
  flex-direction: column;
}
.info-text {
  font-size: 16px;
  font-weight: lighter;
  color: gray;
}

.info-icons-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 372px;
  padding-top: 15px;
}