$font-color: black;
$action-color: #33ccff;
$bg-color: white;
$border-color: lightgray;
$form-bg-color: #f6f6fa;


.error {
    color: red;
}

#session-form-container {
    width: 277px;
    height: 333px;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding:20px;
}

// position: sticky?, box sizing
#loginPopup {
    display: none;
}

#loginPopup.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1113;
}

#login-col-outer {
    display: flex;
    flex-direction: column;
    z-index: 3;
    transform: scale(1.07);
    box-shadow: 0 10px rgba(0,25,10, 0.35);
}

#login-row-topbar {
    width: 277px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

#flex-log {
    display: flex;

}

#createbtn {

    height: 25px;
    color: $action-color;
    border: 1px solid $action-color;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $bg-color;
    cursor: pointer;
}

#loginbtn {

    height: 25px;
    color: $bg-color;
    border: 1px solid $action-color;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $action-color;
    cursor: pointer;
}



.x-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: grey;
    cursor: pointer;
}

.demo-button {

    color: $bg-color;
    border: 1px solid $action-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $action-color;
    cursor: pointer;
    padding: 4px;
}

.sign-button {
    color: $bg-color;
    border: 1px solid $action-color;
    background: $action-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
    margin-top: 10px;
}

.words-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}