.splash--wrap {
  
  display: flex;
  flex-direction: column;
}

.home-map--wrap {
    width: 555px;
    display: flex;
    flex-direction: row;
    flex-grow: 6;
}

.state-input {
  text-transform: uppercase;
}